@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root {
    --background: #9c7a9d;
    --primary: #f8dcb4;
    --primary2: #2c2b4b;
    --secundary: #a75293;
    --secundary2: #2c2b4b;
    --white: #FFFFFF;
    --fonte1: 'Work Sans', sans-serif;
    --fonte2: 'Shadows Into Light', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: var(--fonte2);
}

section {
    box-shadow: 1px 1px 8px black ;
    background-color: var(--primary);
    width: 600px;
    height: 550px;
    margin: 40px auto;
    border-radius: 40px;
}


div.heading > h1 {
    font-family: var(--fonte1);
    text-align: center;
    padding: 10px;
    color: var(--primary2);
    font-size: 32px;
    margin-bottom: 20px;
}

#label {
    text-align: center;
    font-size: 24px;
    color: var(--primary2);
}

#inserir {
    width: 350px;
    margin: 50px auto 30px auto;
    display:flex;
}

input#txt {
    height: 40px;
    width: 90%;
    border-bottom-right-radius: 15px 3px;
    border-bottom-left-radius:3px 15px;
    border: solid 3px transparent;
    border-bottom: 3px dashed var(--secundary);
    background-color: transparent;
    padding-left: 3px;
    margin-right: 10px;
    outline: none;
    font-family: var(--fonte2);
    font-size: 20px;
    color: var(--secundary2);
    font-weight: bold;
}

input#botao {
    box-shadow: 1px 1px 5px black ;
    padding: 4px;
    border-radius: 5px;
    width:60px;
    height: 40px;
    background-color: var(--secundary);
    border: 0.5px solid var(--secundary);
    font-size: 16px;
    color: var(--secundary2);
    font-family: var(--fonte2);
    font-weight: bold;
}

#botao:hover {
    opacity: 70%;
}

#botao:active, #botao:focus {
    transform: translateY(4px);
    padding-bottom: 0px;
    outline: 0;
}

#res {
    margin: 0 auto;
    padding:30px;
    max-width: 500px;
    height: 300px;
    border: 1px solid var(--primary2);
    border-radius: 15px;
    border-style: dashed;
    margin-bottom: 10px;
    color:var(--secundary2);
    font-size: 20px;
    font-weight: bold;
}

div#res p:hover {
    text-decoration: line-through double var(--background);
}

div#res p {
    max-width: fit-content;
}